body{
  background-color: rgba(255, 0, 0, 0.6);
}
table{
  border: 1px solid #989898;
}
.header{
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}
.coin-container{
  display: flex;
  flex-wrap: wrap;
}
.coin-container tr{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 8rem;
  align-items: flex-end;
  justify-content: flex-end;
  background-image: linear-gradient(0deg, rgba(255, 0, 0, 0.6), rgba(255, 0, 0, 0.2)), url('images/download.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px black;
}

.coin-container > tr{
  flex: 50%;
}
td{
  color: white;
  font-family: Ariel, sans-serif;
  padding-right: 6px;
}
.price{
  font-size: 0.8rem;
}
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 50px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
